*{
    margin: 0%;
}

body{
    background-color: black;
}

.container{
    width: 95%;
    height: 90vh;
    margin-left: 2.5%;
    margin-top: 2.5%;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    grid-template-rows:1fr 1.5fr ;
    gap: 10px;
    border: 1px solid white;
}

.heading{
    color: wheat;
    margin: 2%;
    grid-column: span 2;
    font-size: xx-large;
}

.profilePic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilePic img{
    width: 80%;
    height: 75%;
    border-radius: 50%;
    border: 3px solid wheat;
}

.aboutMe{
    margin-left: 4%;
    margin-top: 10px;
    gap: 10px;
}

.aboutMe h1{
    font-size: 3rem;
    color: wheat;
}

.aboutMe p{
    color: wheat;
    margin-top: 10px;
    font-size: 2rem;
}

.socialMedia img{
    background: wheat;
    margin-top: 25px;
    height: 10%;
    width: 10%;
    border-radius: 50%;
    cursor: pointer;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6%;
    margin-top: 10px;
}

.projects a{
    font-size: 3rem;
    color: wheat;
}

.projects ul{
    margin-top: 25px;
    font-size: 2rem;
    color: wheat;
}

.donation img{
    width: 2%;
    height: 2%;
    margin-left: 2.5%;
    margin-top: 5px;
}