input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

h1{
    color: white;
    font-size: 3rem;
}
body{
    margin: 0%;
    background-color: #000000;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.heading{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.box{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #EBD9B4;
    background-color: #789461;
    border-radius: 10%;
    text-align: center;
    font-size: 2rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.button{
    font-size: 1.5rem;
    margin: 10px;
    margin-top: 10px;
    color: black;
    font-weight: 900;
    border: 1px solid white ;
    border-radius: 20px;
    cursor: pointer;
    background-color: #789461;
    padding: 3%;
}

@media (max-width:600px) {
    h1{
        font-size: 1.5rem;
    }
    .box{
        width: 25px;
        height: 25px;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .button{
        font-size: 1rem;
    }
}